<%- include("header") -%>

<body>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% for(var i=0; i<newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%=  newListItems[i] %> </p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">


      <script type="text/javascript">
      function success() {
         if(document.getElementById("text").value==="") {
                  document.getElementById('button').disabled = true;
              } else {
                  document.getElementById('button').disabled = false;
              }
          }
      </script>



      <input id="text" type="text" name="todo" onkeyup="success()" placeholder="New Item" autocomplete="off">

      <button id="button" disabled type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>


</body>
<%- include("footer") -%>
